/* APP */

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.heading-container > span {
  font-size: 32px;
  font-weight: 700;
  color: hsl(21, 62%, 45%);
}

.heading-container > h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  color: hsl(209, 34%, 30%);
}

/* CONTENT */
.section {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto 5rem;
}

.section-center {
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  width: 80vw;
  height: 450px;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
}

.section-center > button {
  position: absolute;
  display: grid;
  place-items: center;
  top: 200px;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-color: transparent;
  border-radius: 3px;
  background-color: hsl(210, 22%, 49%);
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}

.section-center > button:hover {
  background-color: hsl(21, 62%, 45%);
}

.section-center > button:first-of-type {
  left: 0;
}

.section-center > button:nth-of-type(2) {
  right: 0;
}

.section-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.section-info.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.section-info.lastSlide {
  transform: translateX(-100%);
}

.section-info.nextSlide {
  transform: translateX(100%);
}

.section-info > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid hsl(210, 31%, 80%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.section-info > h4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  color: hsl(21, 62%, 45%);
  margin-bottom: 0.25rem;
}

.section-info > p:first-of-type {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: hsl(209, 34%, 30%);
  font-size: 16px;
}

.section-info > p:nth-of-type(2) {
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  font-size: 16px;
  color: hsl(210, 22%, 49%);
}

.section-info > p:nth-of-type(3) {
  font-size: 3rem;
  margin-top: 1rem;
  color: hsl(21, 62%, 45%);
}
